<!DOCTYPE html>
<html>
  <head>
    <title>MiniProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Animal Crossing Critterpedia Lite</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/critters">Critters</a></li>
        <li><a href="/collections">Collections</a></li>
      </ul>
    </div>
  </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
